<app-header> </app-header>

<div class="container">
    <p class="text-center"></p>
    <hr>

    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card">
                <header class="card-header">
                    <h5 class="card-title mt-2"> <i class="fa fa-user" aria-hidden="true"></i> - Cadastro de Usuário
                    </h5>
                </header>
                <article class="card-body">
                    <form [formGroup]="usuarioForm" (ngSubmit)="createUser()">

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Nome</label>
                                <input type="text" class="form-control" formControlName="nome">
                                <div *ngIf="!nome.pristine && nome.errors">
                                    <p class="message" *ngIf="nome.errors.required">
                                        Nome é obrigatório.
                                    </p>
                                    <p class="message" *ngIf="nome.errors.minlength">
                                        Nome deve ter no mínimo 3 caracters.
                                    </p>
                                    <p class="message" *ngIf="nome.errors.maxlength">
                                        Nome deve ter no máximo 100 caracters.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>E-mail</label>
                                <input type="email" class="form-control" formControlName="email">
                                <div *ngIf="!email.pristine && email.errors">
                                    <p class="message" *ngIf="email.errors.email">
                                        Digite um e-mail válido.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Senha</label>
                                <input type="password" class="form-control" formControlName="senha">
                                <div *ngIf="!senha.pristine && senha.errors">
                                    <p class="message" *ngIf="senha.errors.required">
                                        Senha é obrigatória.
                                    </p>
                                </div>
                            </div>
                            <div class="col form-group">
                                <label>Confirma senha</label>
                                <input type="password" class="form-control" formControlName="confirmaSenha">
                                <div *ngIf="!confirmaSenha.pristine && confirmaSenha.errors">
                                    <p class="message" *ngIf="confirmaSenha.errors.required">
                                        Confirme sua senha.
                                    </p>
                                    <p class="message" *ngIf="confirmaSenha.errors.senhasNaoCoincidem">
                                        As senhas não coincidem.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Perfil</label>
                                <select class="form-control" formControlName="idPerfil">
                                    <option value="2">Atendimento</option>
                                    <option value="3">Operação</option>
                                    <option value="4">Risco</option>
                                    <option value="5">CRM/BI</option>
                                    
                                    <option value="1" [disabled]="true">Administrador</option>
                                </select>
                                <div *ngIf="!idPerfil.pristine && idPerfil.errors">
                                    <p class="message" *ngIf="idPerfil.errors.required">
                                        Perfil é obrigatória.
                                    </p>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Status</label>
                                <select class="form-control" formControlName="status">
                                    <option value="1">Ativo</option>
                                    <option value="2" [disabled]="true">Inativo</option>
                                    <option value="3" [disabled]="true">Bloqueado</option>
                                </select>
                                <div class="message" *ngIf="!status.pristine && status.errors">
                                    <p *ngIf="status.errors.required">
                                        Status é obrigatória.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 text-right">
                            <button [disabled]="!usuarioForm.valid" class="btn btn-primary btn-success">
                                Salvar </button>
                        </div>

                    </form>
                </article>
            </div>
        </div>

    </div>


</div>